.navBar {
    max-width: 15%;
    max-height: 70%;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 10px;
}

.navBarText {
    color: #5e5e5e;
}

.navLink {
    text-decoration: none; 
}