.contentSection {
    /* width: 60%; */
    max-height: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    float: left;
    margin-bottom: 10%;
    padding: 15px;
    overflow: scroll;
}

.contentHeader {
    color: #5e5e5e;
    font-size: 30px; 
    text-decoration: none; 
    font-weight: bold;
    text-align: left;
}

.contentSubHeader {
    color: #5e5e5e;
    font-size: 20px; 
    text-decoration: none; 
    font-weight: bold;
    text-align: left;
}

.contentBody {
    color: #5e5e5e;
    font-size: 15px; 
    text-decoration: none;
    text-align: left;
}

.contentAccent {
    color: #8a8383;
    font-size: 13px;
    text-align: left;
}

.contentHighlight {
    color: #6bf3b4;
    font-size: 20px;
}