.infoSection {
    /* width: 60%; */
    max-height: 80%;
    background-color: #ffffff;
    border-radius: 10px;
    /* margin: auto; */
    float: left;
    margin-bottom: 10%;
    overflow: visible;
}

.infoImage {
    max-width: 100%;
    max-height: 40%;
    border-radius: 10px;
    z-index: -1;
}

.profilePicture {
    max-width: 40%;
    max-height: 40%;
    position: relative;
}

.infoSectionText {
    color: #5e5e5e;
}

.infoSectionTextLarge {
    color: #5e5e5e;
    font-size: 40px; 
    margin: 5px;
}

.devTitle {
    color: #6bf3e1;
    font-size: 30px;
    margin: 5px;
    padding-bottom: 3%;
}

.infoSectionLink {
    text-decoration: none; 
}